name: Version Update
on:
  repository_dispatch:
    types:
      - publish npm package
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm install

      - name: Generate OpenAPI Spec
        run: npm run generate

      - name: Configure Git
        run: |
          git config --local user.email "clcl6084@gmail.com"
          git config --local user.name "froggy1014"

      - name: Commit generated files
        run: |
          git add .
          git commit -m "chore: updated openapi files" || echo "No changes to commit"

      - name: Update patch version
        run: npm version patch

      - name: Publish to NPM
        run: npm publish --access public --no-git-checks
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          HUSKY: 0

      - name: Push changes
        run: git push --follow-tags
